.grid {
    border: 1px solid;
    height: 360px;
    width: 420px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 320px;
}

.current-player-display {
    margin-left: 320px;
}

#result {
    margin-left: 320px;
}

.grid div {
    width: 60px;
    height: 60px;
}

.player-one {
    background-color: red;
    border-radius: 30px;
}

.player-two {
    background-color: blue;
    border-radius: 30px;
}